- @stations.each do |station|
  == slim :_station, locals: {name: station.name, stream: station.stream}

form action='/radio' method='post' class='stop'
  input type='hidden' name='action' value='stop'
  input type='submit' value='Stop'

scss:
  body {
    background-color: #141d26;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;

    h1 {
      color: #243447;
    }

    form {
      margin: 10px auto;

      &.stop {
        margin-top: 50px;
      }

      input[type='submit'] {
        width: 100%;
        height: 40px;
        border: none;
        background-color: #243447;
        color: white;
      }
    }
  }
